    * {
      box-sizing: border-box;
      scroll-behavior: smooth;
    }
    
    body {
      background-color: #f5f6f8;
       font-family: "Inter", sans-serif;
    }
    
    #header hr {
      display: block;
      width: 100%;
      margin-block: 3px;
      height: 4px;
      background-color: black;
      margin-left: auto;
    }
    
    #header #nav-bar a {
      display: block;
    }
    
    #header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      padding: 1%;
      align-items: center;
      min-height: 50px;
      background-color: #e5e7eb;
    }
    
    #header h1 {
      margin-right: auto;
      font-size: 100%;
      margin-left: 5px;
    }
    
    #header #nav-bar {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 80%;
      max-width: 400px;
      height: 100%;
      position: relative;
    }
    
    #header #nav-bar a {
      color: #111111;
      display: block;
      margin-block: 0.5rem;
    }
    
    #nav-bar {
      position: relative;
    }
    
    .hr-div {
      width: 30px;
      cursor: pointer;
    }
    
    .hr-div hr {
      height: 4px;
      background: black;
      margin: 4px 0;
      border: none;
    }
    
    .link-div {
      display: none;
      position: absolute;
      right: 0;
      top: 120%;
      background: #e5e7eb;
      padding: 10px;
    }
    
    .link-div a {
      text-decoration: none;
    }
    
    .link-div.active {
      display: block;
    }
    
    
    #nav-bar a:hover {
      color: #f5c400;
    }
    
    .feature {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    
    .feature-row {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    
    .feature-icon {
      width: max-content;
      margin-inline: 1rem;
      display: flex;
      justify-content: center;
      height: 100%;
      margin-block: auto;
    }
    
    .feature-text {
      width: 65%;
    }
    
    .feature-text h4 {
      margin: 0 0 8px;
      font-size: 1rem;
    }
    
    .feature-text p {
      margin: 0;
      line-height: 1.6;
    }
    
    form {
      display: inline-block;
    }
    
    form #submit {
      display: block;
    }
    
    .watch-img-div img {
      width: 100%;
      display: inline-block;
      object-fit: contain;
    }
    
    .watch-img-div {
      width: 80%;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      margin-inline: auto;
    }
    
    .form-text-img-div {
      display: block;
      margin-top: 2rem;
      background-color: #EDEDED;
      margin-bottom: 4rem;
      padding-block: 1rem;
    }
    
    .form-text-img-div .text {
      display: flex;
      flex-direction: column;
      margin: 10px 20px 50px 20px;
    }
    
    .form-text-img-div .text h4 {
      text-align: center;
      margin-block: 0;
      font-size: 1.5rem;
      font-weight: 450;
    }
    
    .form-text-img-div .text p {
      text-align: center;
      font-size: 1.2rem;
      color: #838383;
    }
    
    .form-text-img-div form {
      margin-inline: auto;
    }
    
    .form-text-img-div form input[type="email"] {
      letter-spacing: -0.5px;
      padding: 2px;
      margin-bottom: 1rem;
      padding-left: 10px;
      font-size: 1rem;
    }
    
    .form-text-img-div form input[type="submit"] {
      background-color: #EEB52D;
      width: 100%;
      font-weight: bolder;
      padding: 6px;
      border: none;
    }
    
    #features h2 {
      color: #838383;
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
      margin: 1rem 2rem 3rem 2rem;
    }
    
    #how-it-works {
      margin-top: 10%;
      background-color: #ededed;
    }
    
    #how-it-works h2 {
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.8px;
      text-align: center;
      margin-top: 3rem;
      padding-top: 2rem;
    }
    
    #pricing h2 {
      font-weight: 400;
      text-align: center;
      font-size: 2rem;
      letter-spacing: 0.6px;
    }
    
    #pricing {
      margin-top: 4rem;
    }
    
    .video-iframe-div {
      display: flex;
      width: 90%;
      margin-top: 2rem;
      max-width: 800px;
      aspect-ratio: 16 / 9;
      margin-inline: auto;
      padding-bottom: 10%;
    }
    
    .video-iframe-div iframe {
      border: none;
      width: 100%;
      height: 100%;
      border: 0.4rem solid black;
      border-radius: 2rem;
      padding: 0.2%
    }
    
    .pricing-div {
      margin: 2rem;
      background-color: white;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
      text-align: center;
      display: flex;
      flex-direction: column;
      min-height: 290px;
    }
    
    .pricing-div header {
      padding-block: 1.2rem 0;
      font-weight: 500;
      font-size: 1.4rem;
    }
    
    .pricing-div h3 {
      margin-top: 1rem;
      margin-bottom: 3%;
      font-size: 1.5rem;
      font-weight: 500;
      padding-top: 0;
    }
    
    .pricing-div h3 span {
      font-size: 70%;
      vertical-align: top;
      padding-top: 0.5%;
      display: inline-block;
    }
    
    .pricing-div ul li {
      display: flex;
      align-items: flex-start;
      gap: 5px;
      line-height: 1.7;
      list-style: none;
    }
    
    .pricing-div ul li span {
      display: block;
      flex: 1;
      text-align: left;
    }
    
    .pricing-div ul {
      width: 80%;
      padding-left: 25px;
      flex-grow: 1;
    }
    
    .pricing-div ul li svg {
      margin-top: 0.20em;
      flex-shrink: 0;
      vertical-align: middle;
    }
    
    .pricing-div hr {
      border: none;
      height: 1px;
      background-color: #e5e7eb;
      width: 80%;
    }
    
    .pricing-container div:nth-child(2) {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
      border: 1.5px solid #EEB52D;
    }
    
    .pricing-container div:nth-child(2):hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }
    
    .pricing-div button {
      margin: auto auto 2.5rem;
      width: 70%;
      background-color: #EEB52D;
      border: none;
      font-size: 1.2rem;
      color: white;
      font-weight: 500;
      border-radius: 0.2rem;
    }
    
    .pricing-div button span {
      display: block;
      text-align: center;
      width: 100%;
      padding: 0.2rem 0.2rem;
      margin: 0;
    }
    
    .section-divider {
      border: none;
      height: 1.5px;
      background-color: #E6E6E6;
      width: 85%;
      margin: 4rem auto;
    }
    
    .watch-img-div {
      overflow: hidden;
    }
    
    .watch-img-div img {
      transition: transform 0.5s ease-in-out;
      width: 100%;
      will-change: transform;
    }
    
    footer .footer-div p {
      width: 50%;
    }
    
    footer .footer-div .brand-info-div .brand-text #brand-logo {
      width: 25%;
      max-width: 40px;
      vertical-align: middle;
      object-fit: contain;
    }
    
    .brand-info-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: start;
      margin-right: auto;
      height: max-content;
      margin-top: 20%;
    }
    
    .brand-text {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.5rem;
    }
    
    footer h2 {
      font-weight: 500;
    }
    
    footer .footer-div .brand-info-div .brand-text h2 {
      font-size: 1.6rem;
      display: inline;
      width: max-content;
      vertical-align: middle;
      margin: 0 0 0 2%;
      text-align: center;
      font-weight: 600;
    }
    
    .brand-info-div p {
      font-size: 1.1rem;
      text-align: center;
    }
    
    footer {
      background-color: #E6E6E6;
      padding: 1rem;
    }
    
    .brand-info-div img {
      width: 50px;
      height: 40px;
      object-fit: cover;
    }
    
    .brand-info-div #fc-icon {
      height: 43px;
      object-fit: contain;
    }
    
    .brand-info-div #x-icon {
      padding-top: 1%;
      height: 46px;
    }
    
    .brand-info-div #insta-icon {
      height: 50px;
      padding-top: 1.4%;
    }
    
    .brand-info-div #yt-icon {
      padding-top: 1%;
      height: 46px;
    }
    
    .quick-links,
    .support,
    .legal {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline: auto;
      flex-direction: column;
      width: max-content;
    }
    
    .footer-div {
      margin-bottom: 10%;
    }
    
    .footer-div .quick-links h2,
    .footer-div .support h2,
    .footer-div .legal h2 {
      font-size: 1.6rem;
    }
    
    .quick-links a,
    .support a,
    .legal a {
      margin-block: 1rem 0;
      text-decoration: none;
      color: grey;
      -webkit-text-stroke: 0.3px black;
      font-size: 1.1rem;
    }
    
    .copyright-text {
      font-size: 1%;
      text-align: center;
      margin-top: 2rem;
    }
    
    @media (min-width: 768px) {
      #header .hr-div {
        display: none;
        /* hide hamburger */
      }
      
      .link-div {
        display: flex;
        /* show links */
        position: static;
        gap: 2.5rem;
        padding: 0;
        width: 90%;
        font-size: 1.2rem;
      }
      
      .form-text-img-div {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
      }
      
      .form-text-img-div .text {
        width: 60%;
        font-size: 1rem;
        margin: auto 4rem auto 4rem;
      }
      
      .form-text-img-div .text h4 {
        text-align: left;
        font-size: 2.5rem;
      }
      
      .form-text-img-div .text p {
        text-align: left;
        font-size: 1.4rem;
      }
      
      .form-text-img-div form {
        width: 80%;
        margin-inline: 0;
      }
      
      .watch-img-div {
        width: 40%;
        margin-inline: auto;
        margin-block: auto;
      }
      
      .form-text-img-div form input[type="email"] {
        width: 70%;
      }
      
      .feature {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
      }
      
      .feature-row {
        width: 100%;
      }
      
      .feature-row.last-row {
        grid-column: 1 / -1;
        justify-content: center;
        width: 50%;
        margin-inline: auto;
      }
      
      .video-iframe-div iframe {
        border: 1.5rem solid black;
        border-radius: 4rem;
        padding: 0.2%
      }
      
      .pricing-container {
        display: flex;
        justify-content: space-between;
        margin-inline: 1%;
      }
      
      .pricing-div {
        min-width: 27%;
        max-width: max-content;
        min-height: 300px;
      }
      
      .footer-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      
      .quick-links,
      .support .legal {
        align-items: start;
      }
      
      .brand-info-div {
        margin-top: 50%;
      }
    }
